<%- include('./partials/head.ejs') %> 

<%- include('./partials/navbar.ejs') %> 

<div class="container">
    <div class="jumbotron text-center">
        <div class="display-4">Welcome</div>
        <p class="lead my-3">Jot down your ideas for your next youtube videos</p>
        <a href="/addVideo" class="btn-danger btn-lg">Add video ideas</a>
    </div>
</div>

<%- include('./partials/footer.ejs') %> 